#redis configuarations

REDIS_HOST=
REDIS_PORT=

#api and frontend port configurations 

API_PORT=
FRONTEND_PORT=

API_URL=

#redis configuarations

REDIS_CPU_LIMIT=
REDIS_MEMORY_LIMIT=

#api configurations

API_CPU_LIMIT=
API_MEMORY_LIMIT=



#worker configuration

WORKER_CPU_LIMIT=
WORKER_MEMORY_LIMIT=

#frontend configuration

FRONTEND_CPU_LIMIT=
FRONTEND_MEMORY_LIMIT=
